<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<div class="phone-numbers">

  <% @person.phone_numbers.each do |phone_number| %>
    <p id="<%= dom_id(phone_number) %>">
      <b>Phone:</b>
      <%= phone_number.number %>
    </p>
  <% end %>

  <%= link_to 'Add phone number', new_phone_number_path(person_id: @person.id) %>

</div>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
